<div class="jumbotron">
  <h1 class="display-4">{{ stock.companyName }} ({{ stock.symbol }})</h1>
<strong>Latest Price:</strong>    ${{ stock.latestPrice  }}<br/><br/>
<strong>Previous Close:</strong>    ${{ stock.previousClose }}<br/><br/>
<strong>Percente Change:</strong>    {{ stock.changePercent }}%<br/><br/>
<strong>Market Cap:</strong>    ${{ stock.marketCap }}<br/><br/>
<strong>YTD Changed:</strong>    {{ stock.ytdChange }}<br/><br/>
<strong>52 week High:</strong>     ${{ stock.week52High }}<br/><br/>
<strong>52 week Low:</strong>    ${{ stock.week52Low }}<br/><br/>
<strong>Primary Exchange:</strong>  {{ stock.primaryExchange }}<br/><br/>
 <br/><br/>
</div>
<!--
<br/><br/>
{{#each stock}}

	{{@key}} | {{this}}<br/>

{{/each}}
-->